# HTTP settings
PORT=8080
LOGGING_REQUESTS=true

# OIDC
OIDC_ISSUER_URL=https://your-auth0-domain.auth0.com/
OIDC_CLIENT_ID=your_client_id_here
OIDC_CLIENT_SECRET=your_client_secret_here
OIDC_REDIRECT_URI=http://localhost:8080/api/authentication/callback

# AWS
AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
AWS_CREDENTIALS_KEY=test
AWS_CREDENTIALS_SECRET=test

# DATABASE
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DB=tenant-database
DATABASE_SSL_MODE=false

# SERVICES
STORAGE_BASE_URL=http://localhost:8080/api/storage/