# HTTP settings
PORT=8080

# OIDC
OIDC_ISSUER_URL=https://your-auth0-domain.auth0.com/
OIDC_CLIENT_ID=seu_client_id_aqui
OIDC_CLIENT_SECRET=seu_client_secret_aqui
OIDC_REDIRECT_URI=http://localhost:8080/auth/callback
FRONTEND_URL=http://localhost:3000